@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.back-gif{
    background-image: url(../image/gif-fogueira.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #202123;
}

.link-font-github{
    text-decoration: none;
    color: #505764;
}

.footer{
    text-decoration: none;
    text-align: center;
    color: #505764;
    font-family: sans-serif;
    margin-top:23rem;
}

.beck-music{
    position: relative;
    margin: auto;
    background-color: #505764;
    width: 20rem;
    height: 31rem;
    border-radius: 25px;
    margin-top:1rem;
}



.mymusic{
    padding-top: 1rem;
    font-family: sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

#img {
    box-shadow: 5px 10px 18px 0px #33333370;

    width: 15rem;
    height: 15rem;
    border-radius: 50%; 
}


.midias{
    box-shadow: 10px 10px 18px 0px #33333380;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    margin: auto;
}

#names {
    padding-top: 15px;
    font-size: 1rem;
    font-style: italic;
    font-family:sans-serif;
}

#names > #track-artist {
    font-weight:normal;
    font-family:sans-serif;
}

.names{
    width: 80%;
    height: 5rem;
    margin: auto;
    display: block;
    text-align: center;
}

/* Estilizando btn */

.btns{
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.btns > .btn2 {
    width: 75px;

}

.btns > .btn3 {
    width: 50px;
}

.btns > .btn1 {
    width: 50px;
}
.btn2:hover, .btn1:hover, .btn3:hover {
    transform: scale(1.08);
    transition: .3s;
}

/* timer */

.timer{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
#progress {
    display: flex;
    width:90%;
    cursor: pointer;
    margin: auto;
}

 @media screen and (max-width: 500px){
    .back-gif{
        min-height: 33.5rem;
    }
    
}

@media screen and (max-width: 400px){
    .back-gif{
        min-height: 22rem;
    }
    .footer{
        padding: 15px;
    }
} 